$black: #000000;
$lightgrey: #eff1f7;
$lightgreyblue: #f1f3f9;
$midgrey: #e6e6e6;
$middarkgrey: #D5D5D5;
$darkgrey: #696969;
$primary-button: #7db171;
$green: #0f851a;
$lightgreen: #D6EACD;
$darkviolet: #a51d4d;
$orange: #FF6600;
$cream: #FEEBCE;
$white: #FFFFFF;
$red: #AA0000;
$error-text-color: #CC0000;
$darkgreen: #336600;
$blue-dark: #003B6A;
$blue-medium: #0062C7;
$blue-light: #73B3DE;